# Ambiente virtual
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# Arquivos sensíveis
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
